{% extends "layout.html" %}

{% block title %}Geocoder{% endblock %}

{% block body %}

<h5>Enter an address (number, address, city, state) to receive its lat/lon</h4>

<div class="row">
  <form class="col s12" id="geocode-form" action="/geocode">
    <div class="row">
      <div class="input-field col s6">
        <i class="material-icons prefix">mode_edit</i>
        <input id="address" name="address" class="materialize-input" placeholder="Address">
      </div>
      <div class="input-field col s3">
        <button class="btn waves-effect waves-light" type="submit" id="geocode_button">Generate lat/lon
        </button>
      </div>
    </div>
  </form>
</div>

<div class="geocode_result" id="geocode_result">
</div>

<h5>Enter a lat/lon to retrieve its associated address</h4>
<div class="row">
  <form class="col s12" id="chat-form" action="/reverse">
    <div class="row">
      <div class="input-field col s6">
        <i class="material-icons prefix">mode_edit</i>
        <input id="q" name="q" class="materialize-input" placeholder="Lat/Lon">
      </div>
      <div class="input-field col s3">
        <button class="btn waves-effect waves-light" type="submit" id="reverse_button">Generate address
        </button>
      </div>
    </div>
  </form>
</div>

<div class="reverse_result" id="reverse_result">
</div>

<h5>Enter a pair of lat/lon coordinates to obtain their relative distance</h4>
<div class="row">
  <form class="col s12" id="chat-form" action="/distance">
    <div class="row">
      <div class="input-field col s6">
        <i class="material-icons prefix">mode_edit</i>
        <input id="latlon1" name="latlon1" class="materialize-input" placeholder="Latlon1">
      </div>
      <div class="input-field col s6">
        <i class="material-icons prefix">mode_edit</i>
        <input id="latlon2" name="latlon2" class="materialize-input" placeholder="Latlon2">
      </div>
      <div class="input-field col s3">
        <button class="btn waves-effect waves-light" type="submit">Calculate distance
        </button>
      </div>
    </div>
  </form>
</div>

<div id="distance_result">
</div>

{% endblock %}
