{% extends "layout.html" %}

{% block content %}
  <div class="jumbo">
    <h2 style="text-align: center">Welcome to SimpleGeo<h2>
  </div>
  <br /><br /><br />
  <!-- Geocode form -->
  <h2 style="text-align: center">Geocode.</h2>
  <p style="text-align: center">Please enter an address below to obtain the corresponding latitude and longitude coordinates.</p>
  <form id="geocode_form" style="text-align: center">
    <div class="input-group form-inline panel">
      <span class="input-group-addon">Address</span>
      <input class="form-control" id="geocode_address" placeholder="123 Main St, San Francisco, CA 94105" required>
    </div>
    <button type="submit" id="submitAddress" class="btn btn-primary">Submit</button>
  </form>

  <div id="geocode_output" class="alert alert-success hide" role="alert" style="position:relative; top:10px; text-align: center">
  </div>

  <br /><br /><br />

  <!-- Reverse Geocode form -->
  <h2 style="text-align: center">Reverse Geocode.</h2>
  <p style="text-align: center">Please enter a latitude and longitude below to obtain the corresponding address at that location.</p>
  <form id="reverse_form" class="form-inline" style="text-align:center" data-toggle="validator" data-disable="false">
    <div class="input-group form-inline panel">
      <span class="input-group-addon">Latitude</span>
      <input name="latitude" class="form-control" id="latitude" placeholder="37.4227839" required>
    </div>
    <div class="input-group form-inline panel">
      <span class="input-group-addon">Longitude</span>
      <input name="longitude" class="form-control" id="longitude" placeholder="-122.0859116" required>
    </div>
    <br />
    <button type="submit" id="submit_latlng" class="btn btn-primary">Submit</button>
  </form>
  <div id="reverse_output" class="alert alert-success hide" role="alert" style="position:relative; top:10px; text-align: center">
  </div>
  <br /><br /><br />

  <!-- Geometric Distance between two points -->
  <h2 style="text-align: center">Geometric Distance.</h2>
  <p style="text-align: center">Please enter two sets of coordinates to calculate the great-circle distance between them.</p>
  <form id="distance_form" class="form-inline" style="text-align:center" data-toggle="validator" data-disable="false">
    <div class="input-group form-inline panel">
      <span class="input-group-addon">Latitude 1</span>
      <input name="latitude" class="form-control" id="latitude1" placeholder="37.4227839" required>
    </div>
    <div class="input-group form-inline panel">
      <span class="input-group-addon">Longitude 1</span>
      <input name="longitude" class="form-control" id="longitude1" placeholder="-122.0859116" required>
    </div>
    <br />
    <div class="input-group form-inline panel">
      <span class="input-group-addon">Latitude 2</span>
      <input name="latitude" class="form-control" id="latitude2" placeholder="37.4227839" required>
    </div>
    <div class="input-group form-inline panel">
      <span class="input-group-addon">Longitude 2</span>
      <input name="longitude" class="form-control" id="longitude2" placeholder="-122.0859116" required>
    </div>
    <br />
    <label class="radio-inline" style="position:relative;right:70px"><input type="radio" value="mi" name="mi_or_km" checked>mi</label>
    <label class="radio-inline" style="position:relative;right:70px"><input type="radio" value="km" name="mi_or_km">km</label>
    <button type="submit" id="submit_latlng" class="btn btn-primary" style="position:relative;right:45px">Submit</button>
  </form>
  <div id="distance_output" class="alert alert-success hide" role="alert" style="position:relative; top:10px; text-align: center">
  </div>
{% endblock %}
