<!DOCTYPE html>
<html>
  <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='styles/button.css') }}">
  <body>
  	<div class="button-container">
  	<form method="POST">
  		First Latitude:
    	<input name="latitude1" value="33.429292"><br>
  		First Longitude:
    	<input name="longitude1" value="-112.0740"><br>
  		Second Latitude:
    	<input name="latitude2" value="41.469486"><br>
  		Second Longitude:
    	<input name="longitude2" value="-74.554268"><br>
      <button type="submit" class="button">
        Submit
      </button>
	</form>
</div>
  </body>
</html>